requests
streamlit
pandas
plotly
openai
openpyxl
sqlparse
logging
pypandoc
python-dotenv
markdown-pdf
xlsxwriter
beautifulsoup4
googlesearch-python
# streamlit-authenticator # Re-add if needed
# werkzeug # Re-add if needed
